.reviews-container {
    min-height: 700px;
    .reviews-header {
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 15px;
    }
    .reviews-list {
        .reviews-item {
            overflow: hidden;
            cursor: pointer;
            display: flex;
            flex-direction: column-reverse;
            min-height: 200px;
            .reviews-item-preview {
                width: 100%;
                height: auto;
                margin: -120% 0px -30% 0px;
            }
        }
    }
}
.modal-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    .modal-container {
        height: 80%;
        width: auto;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
