@media (max-width: 992px) {
    .app-container{
        width: 100%!important;
    }
    .header-menu-container {
        display: flex;
        flex-direction: column;
    }
    #navbarSupportedContent {
        position: fixed;
        top: 0;
        right: 0px;
        left: 0px;
        bottom: 0;
        background-color: #000000 !important;
        opacity: 0.9;
        z-index: 200;
    }

    .header-soc-networks-item {
        height: 30px !important;
        width: 30px !important;
        margin: 0 10px !important;
    }
    .header-soc-networks-container {
        margin-top: 30px;
        order: 1 !important;
        justify-content: center !important;
    }
    .header-contacts-container {
        margin-top: 30px;
        order: 2 !important;
        justify-content: center !important;
    }
    .header-contacts-icon-img {
        display: none;
    }
    .header-contacts-address {
        color: lightgray;
        padding: 5px;
        font-size: 16px;
    }
    .header-contacts-line-containter {
        justify-content: center;
    }
    .dropdown {
        justify-content: center !important;
    }
    .header-menu {
        margin-top: 20px;
        order: 4 !important;
        justify-content: center !important;
    }
    .header-menu-button-close {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: solid 1px white;
        order: 4;
        margin: auto;
        margin-top: 20px;
    }
    .header-menu-button-close:before,
    .header-menu-button-close:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: white;
        border-radius: 2px;
        margin-left: 14px;
        margin-top: 36px;
    }
    .header-menu-button-close:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .header-menu-button-close:after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .header-menu-item {
        text-align: center;
        padding: 10px;
        font-size: 20px !important;
    }
    .header-menu-item-home {
        display: block !important;
    }
    .header-lang-wrapper-desctop {
        display: none !important;
    }
    .header-lang-wrapper-mobile {
        display: flex !important;
    }
}

body {
    font-family: "Montserrat", sans-serif !important;
}
.app-wrapper {
}
.app-container {
    width: 1110px;
    margin: auto;
}
.header-wrapper {
    background-color: #161616 !important;
}
.header-container {
    width: 1110px;
    margin: auto;
    color: white !important;
}
.header-menu-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.header-menu {
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.navbar-toggler {
    border: none;
    box-shadow: none;
    color: white !important;
}
.header-menu-item-home {
    display: none;
}
.header-menu-item {
    color: white !important;
    font-weight: 700 !important;
    font-size: 12px;
    font-style: normal;
}

.header-soc-networks-container {
    display: flex;
}

.header-soc-networks-item {
    margin: 8px;
    height: 19px;
    width: 19px;
    cursor: pointer;
}
.header-contacts-container {
    font-weight: 500;
    font-size: 12px;
}
.header-contacts-line-containter {
    display: flex;
    align-items: center;
}
.header-contacts-icon-img {
}
.header-contacts-address {
    margin-left: 10px;
}
.header-lang-wrapper-mobile {
    display: none;
}
.header-lang-wrapper-desctop {
}
.header-lang-container {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header-lang-actual {
    color: lightgray;
    font-size: 13px;
    font-weight: 400;
}
.header-langmenu-item {
    display: flex;
    align-items: center;
}
.header-langmenu-item-country {
    margin-left: 10px;
}
